---
layout: default
---

<div class="categories">
    <div class="wrapper">
        <div class="quote-bar">
            {% assign random_quote = site.data.quotes | where: "highlight", "true" | sample %}
            <a href="/quotes">First we build the tools, then they build us.</a>
        </div>
        <div class="recent-update m-top-20">
            {% assign recent_item = site.data.recent_update %}
            <div class="section-title">
                <h2>Recent Added</h2>
                <div class="section-subtitle">{{ recent_item.lastupdate | date: "%b %d, %Y at %R" }}</div>
            </div>
            <div class="recent-update-card">
                <div class="recent-update-info">
                    <img src="/assets/tool-icon/{{recent_item.name | downcase}}.png" alt="icon">
                    <div class="recent-update-meta">
                        <a class="recent-update-card-title tool-link" href="{{recent_item.site}}" target="_blank">
                            {{ recent_item.name }}
                        </a>
                        <a class="tag-item" href="#{{recent_item.category | downcase}}">{{ recent_item.category | upcase }}</a>
                    </div>
                </div>
                <p class="recent-update-card-description">{{ recent_item.description }}</p>
            </div>
        </div>
        <div class="tool-section m-top-20">
            {% for group in site.data.tools %}
            <div class="tool-group m-bottom-18" id="{{group.type | downcase}}">
                <div class="section-title">
                    <h2>{{ group.type | capitalize }}</h2>
                    <div class="section-subtitle">{{ group.lastupdate | date: "%b %d, %Y at %R" }}</div>
                </div>
                <div class="tool-group-list">
                    <ul>
                        {% for item in group.items %}
                        <li class="tool-item"> 
                            <a href="{{item.site}}" target="_blank"><img src="/assets/tool-icon/{{item.name | downcase}}.png" alt="" class="tool-icon"></a>
                            <a class="tool-item-title tool-link" href="{{item.site}}" target="_blank">
                            {{- item.name -}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% include scroll_to_top.html %}