.quotes {
    margin-top: 20px;
    margin-bottom: 60px;
}

.quotes-list {
    color: $black-color;
    display: block;
    width: 100%;
    list-style: none;
    margin: 0;
    @include relative-font-size(1.8);

    li {
        margin: 0 0 20px 0;
        padding: 20px 30px;
        background-color: $grey-color;
        border-radius: 18px;
        border: 1px $grey-color solid;
        
        @media screen and (prefers-color-scheme: dark) {
            background-color: $grey-color-darkmode;
            border: 1px $grey-color-darkmode solid;
        }
    }

    .quote-text {
        font-family: $serif-font-family;
        margin: 0;
        margin-bottom: 6px;
    }

    .quote-author {
        font-weight: 700;
        margin: 0;
    }

    .highlight {
        border: 1px goldenrod solid;
    }
}

@media screen and (prefers-color-scheme: dark) {
    .quotes-list {
        color: $dark-color-darkmode;

        .quote-author {
            color: $black-color-darkmode;
        }
    }
}