.quotes {
    margin-top: 20px;
    margin-bottom: 60px;
}

.quotes-list {
    color: $black-color;
    display: block;
    width: 100%;
    list-style: none;
    margin: 0;
    @include relative-font-size(1.8);

    li {
        margin: 0 0 30px 0;
    }

    .quote-text {
        font-family: $serif-font-family;
        margin: 0;
        margin-bottom: 6px;
    }

    .quote-author {
        font-weight: 700;
    }
}

@media screen and (prefers-color-scheme: dark) {
    .quotes-list {
        color: $dark-color-darkmode;

        .quote-author {
            color: $black-color-darkmode;
        }
    }
}