<nav class="site-header" role="banner">
  <div class="wrapper">
    <div class="site-header-container">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
        {{ site.title }}
      </a>

      <div class="nav-items">
        {% assign sorted_pages = site.pages | sort:"nav_order" %}
        {%- for nav_page in sorted_pages -%}

          {%- if nav_page.nav_item -%}
        
          {% assign active_tag = ' ' %}
          {%- if nav_page.nav_order == page.nav_order -%}
          {% assign active_tag = 'active' %}
          {%- endif -%}

          {% if nav_page.nav_order == 2 and page.layout == 'post' %}
          {% assign active_tag = 'active' %}
          {%- endif -%}
          
          <a class="nav-link {{active_tag}}"
            href="{{ nav_page.url | relative_url }}">{{ nav_page.title | escape | upcase }}</a>
          {%- endif -%}
        
        {%- endfor -%}
      </div>
  
      

      <div class="nav-search">
        {% include search_bar.html %}
      </div>
    </div>
  </div>
</nav>