<div class="post-gotop-button" id="scroll-to-top-button" style="visibility: hidden;">
    <a class="gotop-button" href="javascript:window.scrollTo({top: 0, left: 0, behavior: 'smooth'});">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" fill="none" viewBox="0 0 20 12">
            <path fill="#333" fill-rule="evenodd" d="M11.61.65l7.723 7.552a2.19 2.19 0 010 3.146 2.313 2.313 0 01-3.218 0L10 5.37l-6.115 5.978a2.313 2.313 0 01-3.218 0 2.19 2.19 0 010-3.146L8.39.65A2.293 2.293 0 019.924 0h.152a2.293 2.293 0 011.533.65z" clip-rule="evenodd"/>
          </svg>          
    </a>
</div>